.hero__subtitle img {
  width: 2.3rem;
  height: 2.3rem;
}

.hero__content h1 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--heading-color);
}
.hero__content h1 .highlight {
  color: var(--secondary-color);
}
.hero__content p {
  font-size: 1.1rem;
  color: var(--text-color);
  line-height: 2rem;
}

.hero__img-box img,
.hero__img-box video {
  width: 100%;
  height: 350px;
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
  object-fit: cover;
  transition: all ease 200ms;
}
.hero__img-box :hover {
  transform: scale(1.02);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}
.hero__content {
  padding-top: 3.5rem;
}
.hero__img-box {
  padding-top: 2rem;
}

.services__subtitle {
  font-size: 2.2rem;
  font-weight: 600;
  color: #ee6e6e;
  font-family: var(--subtitle-font-name);
}
.services__title {
  font-size: 2.5rem;
  font-weight: 500;
}
.featured__tour-title {
  font-weight: 500;
  font-size: 2.3rem;
}
.featured__tour-title {
  font-size: 2.3rem;
  font-weight: 500;
}
.experience__content h2 {
  font-style: 2.3rem;
  margin-top: 1rem;
  font-weight: 500;
}
.experience__content p {
  font-style: 1.1rem;
  color: var(--text-color);
  margin-top: 1rem;
}
.counter__wrapper {
  margin-top: 2.5rem;
}
.counter__box span {
  width: 70px;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: #fff;
  font-style: 1.6rem;
  font-weight: 600;
  border-radius: 10px 5px 10px 5px;
}
.counter__box h6 {
  font-style: 1.1rem;
  margin-top: 0.7rem;
  color: var(--text-color);
}

.gallery_title {
  font-style: 2.3rem;
  margin-bottom: 1.8rem;
  margin-top: 1rem;
}

.masonry__img {
  transition: 0.3s;
}
.masonry__img:hover {
  transform: scale(1.06);
}
.testimonials__title {
  font-style: 2.3rem;
  margin-top: 1rem;
}
